// if you want to use sass-variables - delete root
:root {
  // base
  --font-family: "Kumbh Sans", sans-serif;
  --content-width: 920px;
  --container-offset: 24px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --dark-blue: #1e1f36;
  --dark-gray: #4b4c5f;
  --gray: #787887;
  --orange: #f47b56;
  --almost-white: #e8e8ea;
  --white: #ffffff;
}